/* FONTS */
/* BEGIN Light */
@font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("./fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  /* END Light */
  /* BEGIN Light Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  /* END Light Italic */
  /* BEGIN Regular */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  /* END Regular */
  /* BEGIN Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("./fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff");
    font-weight: normal;
    font-style: italic;
  }
  /* END Italic */
  /* BEGIN Semibold */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("./fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  /* END Semibold */
  /* BEGIN Semibold Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff");
    font-weight: 600;
    font-style: italic;
  }
  /* END Semibold Italic */
  /* BEGIN Bold */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("./fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  /* END Bold */
  /* BEGIN Bold Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff");
    font-weight: bold;
    font-style: italic;
  }
  /* END Bold Italic */
  /* BEGIN Extrabold */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  /* END Extrabold */
  /* BEGIN Extrabold Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  /* END Extrabold Italic */


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FCFDFD;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 8rem 1fr 8rem;
    grid-template-areas: "header header"
                        "aside article"
                        "footer footer";
    min-height: 100vh;
}

img {
    max-width: 5em;
}

ul, li {
    margin:0;
    padding:0;
    list-style: none;
}

header {
    grid-area: header;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    gap: 1em;
    padding: 0 2em;
    border-bottom: 1px solid gray;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(180,181,181,0.9136029411764706) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
}

#top-logo {
    flex-grow: 0;
}


aside {
    grid-area: aside;
    padding: 4cqmax 2rem;

}

aside img {
    width: 2rem;
}

nav {
    display: grid;
}

li {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

li a {
    color:black;
    text-decoration: none;
    cursor: pointer;   
}

.add-book {
    background-image: url(./images/plus-thick.svg);
    background-size: 2em;
}

dialog {
  
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}



.donate-button {
    margin-left: 1rem;
    padding: 0.5em 2em;
    border: none;
    border-radius: 50px;
    background-color: #ffdf00;
    color: blue;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

article {
    grid-area: article;
    padding: 0 2em 2em 2em;
}

.books-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
}

.books-display > div {
    border: none;
    border-radius: 30px;
    padding: 0 2em 2em 2em;
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.books-display input[type=checkbox] {
    display: none;
}

.books-display input[type=checkbox]:checked + label::after {
    content: "Read";
    color: green;
    font-weight: bold; 
    z-index: 100;
}

.books-display input[type=checkbox] + label::after {
    content: "Not read";
    color: red;
    font-weight: bold; 
    z-index: 100;
}

.books-display button {
    display: block;
    margin: 1em 0;
    padding: 0.3em 2em;
    border-radius: 30px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
}


footer {
    grid-area: footer;
    text-align: center;
    padding: 1em;
    align-self: center;
    
}

footer img {
    max-width: 4em;
}

footer p {
    margin-bottom: 0;
    margin-top: 0.5em;
}